<!DOCTYPE html>
<html>
<head>
  <title>Github Contribution Graph Demo</title>
  <script type="text/javascript" src="/js/jquery.js" ></script>
  <script type="text/javascript" src="/js/github_contribution.js"></script>
  <link href="/css/github_contribution_graph.css" media="all" rel="stylesheet" />

  <script type="text/javascript">
    //Generate random number between min and max
    function randomInt(min,max)
    {
      return Math.floor(Math.random()*(max-min+1)+min);
    }

    function getRandomTimeStamps( min, max ){
      var return_list = [];
      
      var entries =  randomInt( min, max );
      for ( var i =0; i < entries; i++ ){
        var day = new Date();
        
        //Genrate random
        var previous_date = randomInt(0,365);
        day.setDate( day.getDate() - previous_date );
        
        return_list.push( day.getTime() );
      }

      return return_list;

    }
    $(document).ready(function(){
    
      var data = [{"date":"2017-07-24","count":0},{"date":"2017-07-25","count":2},{"date":"2017-07-26","count":3},{"date":"2017-07-27","count":0},{"date":"2017-07-28","count":0},{"date":"2017-07-29","count":0},{"date":"2017-07-30","count":0},{"date":"2017-07-31","count":0},{"date":"2017-08-01","count":0},{"date":"2017-08-02","count":0},{"date":"2017-08-03","count":5},{"date":"2017-08-04","count":2},{"date":"2017-08-05","count":0},{"date":"2017-08-06","count":0},{"date":"2017-08-07","count":0},{"date":"2017-08-08","count":10},{"date":"2017-08-09","count":1},{"date":"2017-08-10","count":2},{"date":"2017-08-11","count":3},{"date":"2017-08-12","count":3},{"date":"2017-08-13","count":0}];
        
        $('#github_chart_1').github_graph( {
          //Generate random entries from 50-> 200 entries
          //data: getRandomTimeStamps(50,500) ,
          data: data,
          texts: ['completed task','completed tasks']
        });
        
    });
  </script>
</head>

<style type="text/css">
  .seperate{
    height: 20px;
  }
  body{
    padding: 50px;
  }
</style>
<body>
  <h2>GITHUB CONTRIBUTION GRAPH DEMO</h2>
  <div id="github_chart_1"></div>
  <div class="seperate"></div>
</body>
</html>